framework: net48
source https://api.nuget.org/v3/index.json

nuget FSharp.Core                        >= 4.6.2 lowest_matching: true

nuget Aardvark.Base.FSharp               ~> 5.0.13
nuget Aardvark.Base.Incremental          ~> 5.0.13
nuget Aardvark.Base.Runtime              ~> 5.0.13

nuget FShade.Core                        ~> 5.0.0
nuget FShade                             ~> 5.0.0

nuget Aardvark.Base.Rendering            ~> 5.0.0
nuget Aardvark.Application.Utilities     ~> 5.0.0
nuget Aardvark.SceneGraph                ~> 5.0.0
nuget Aardvark.GPGPU                     ~> 5.0.0



group Build
framework: netstandard2.0
source https://api.nuget.org/v3/index.json
github aardvark-platform/aardvark.fake:v51
